{block content}

<h1>{$foo}</h1>

<div n:foreach="$items as $item">
    <a n:tag-if="$item->title">
        {$item->id|existingFilter}
        {$item->title|nonExistingFilter}
    </a>
</div>

<h2>Create</h2>
<a href="{link create}">Only create</a>
<a href="{link Foo:create}">Create with presenter</a>

<a href="{link create, 'extra-argument'}">Only create with extra argument</a>
<a href="{link Foo:create, 'extra-argument'}">Create with presenter with extra argument</a>

<a href="{link create, ['extra' => 'argument']}">Only create with extra argument as array</a>
<a href="{link Foo:create, ['extra' => 'argument']}">Create with presenter with extra argument as array</a>

<a href="{link create, 'extra' => 'argument'}">Only create with extra argument as array without [ ]</a>
<a href="{link Foo:create, 'extra' => 'argument'}">Create with presenter with extra argument as array without [ ]</a>

<a href="{link create, extra => argument}">Only create with extra argument as array without [ ] and '</a>
<a href="{link Foo:create, extra => argument}">Create with presenter with extra argument as array without [ ] and '</a>

<h2>Edit</h2>
<a href="{link edit}">Only edit (no argument)</a>
<a href="{link Foo:edit}">Only edit (no argument)</a>

<a href="{link edit, 'extra-argument'}">Only edit with one argument</a>
<a href="{link Foo:edit, 'extra-argument'}">Edit with presenter with one argument</a>

<a href="{link edit, ['id' => 'argument']}">Only edit with one argument as array</a>
<a href="{link Foo:edit, ['id' => 'argument']}">Edit with presenter with one argument as array</a>

<a href="{link edit, 'id' => 'argument'}">Only edit with one argument as array without [ ]</a>
<a href="{link Foo:edit, 'id' => 'argument'}">Edit with presenter with one argument as array without [ ]</a>

<a href="{link edit, id => argument}">Only edit with one argument as array without [ ] and '</a>
<a href="{link Foo:edit, id => argument}">Edit with presenter with one argument as array without [ ] and '</a>

<a href="{link edit, 'extra-argument', 100}">Only edit with two arguments</a>
<a href="{link Foo:edit, 'extra-argument', 100}">Edit with presenter with two arguments</a>

<a href="{link edit, ['id' => 'argument', 'sorting' => 100]}">Only edit with two arguments as array</a>
<a href="{link Foo:edit, ['id' => 'argument', 'sorting' => 100]}">Edit with presenter with two arguments as array</a>

<a href="{link edit, 'id' => 'argument', 'sorting' => 100}">Only edit with two arguments as array without [ ]</a>
<a href="{link Foo:edit, 'id' => 'argument', 'sorting' => 100}">Edit with presenter with two arguments as array without [ ]</a>

<a href="{link edit, id => argument, sorting => 100}">Only edit with two arguments as array without [ ] and '</a>
<a href="{link Foo:edit, id => argument, sorting => 100}">Edit with presenter with two arguments as array without [ ] and '</a>

<a href="{link edit, id: argument, sorting: 100}">Only edit with named arguments</a>
<a href="{link Foo:edit, id: argument, sorting: 100}">Edit with presenter with named arguments</a>

{*<a href="{link edit, sorting => 100, id => argument}">Only edit with switched two arguments as array without [ ] and '</a>*}
{*<a href="{link Foo:edit, sorting => 100, id => argument}">Edit with presenter with switched two arguments as array without [ ] and '</a>*}

{*<a href="{link edit, sorting => 100, id => argument}">Only edit with switched named arguments</a>*}
{*<a href="{link Foo:edit, sorting => 100, id => argument}">Edit with switched named arguments</a>*}


{control nonExistingControl}

{$variableFromOtherMethod}
{$variableFromParent}
{$variableFromParentCalledViaParent}
{$foobar}

{*
{control someControl}
{control someControl-header}
{control someControl-table}
{control someControl-body}
{control someControl-footer}
{control someControl-nonexisting}
*}