{$title|existingFilter}

{* ERROR: Trying to invoke mixed but it's not a callable. *}
{* ERROR: Undefined latte filter "nonExistingFilter". ### Register it in phpstan.neon: parameters > latte > filters. See https://github.com/efabrica-team/phpstan-latte#filters *}
{$title|nonExistingFilter}
