{control myComponent} {* ERROR: Call to method render() on an unknown class Placeholder\ComponentA. ### Learn more at https://phpstan.org/user-guide/discovering-symbols *}
{control secondComponent} {* ERROR: Call to method render() on an unknown class Placeholder\ComponentA. ### Learn more at https://phpstan.org/user-guide/discovering-symbols *}
