parameters:
    latte:
        strictMode: false
        tmpDir: null
        globalVariables: []
        filters:
            translate: [Nette\Localization\Translator, translate]
        errorPatternsToIgnore: []
        applicationMapping: []
        engineBootstrap: null
        macros: []
        extensions: []
        resolveAllPossiblePaths: false
        reportUnanalysedTemplates: false

parametersSchema:
    latte: structure([
        strictMode: bool()
        tmpDir: schema(string(), nullable())
        globalVariables: arrayOf(string(), string())
        filters: arrayOf(anyOf(string(), arrayOf(string())), string())
        errorPatternsToIgnore: arrayOf(string())
        applicationMapping: arrayOf(string(), string())
        engineBootstrap: schema(string(), nullable())
        macros: arrayOf(string())
        extensions: arrayOf(object())
        resolveAllPossiblePaths: bool()
        reportUnanalysedTemplates: bool()
    ])

rules:
    - Efabrica\PHPStanLatte\Rule\LatteCompileErrorsRule

services:
    -
        class: Efabrica\PHPStanLatte\Compiler\Compiler\CompilerInterface
        factory: @Efabrica\PHPStanLatte\Compiler\Compiler\CompilerFactory::create

    -
        class: Efabrica\PHPStanLatte\Compiler\Compiler\CompilerFactory
        arguments:
            engineBootstrap: %latte.engineBootstrap%
            strictMode: %latte.strictMode%
            filters: %latte.filters%
            macros: %latte.macros%
            extensions: %latte.extensions%

    - Efabrica\PHPStanLatte\Analyser\FileAnalyserFactory
    - Efabrica\PHPStanLatte\Analyser\AnalysedTemplatesRegistry(%analysedPaths%, %latte.reportUnanalysedTemplates%)
    - Efabrica\PHPStanLatte\Compiler\LatteToPhpCompiler(%latte.tmpDir%)
    - Efabrica\PHPStanLatte\Compiler\Postprocessor
    - Efabrica\PHPStanLatte\Compiler\LineMapper
    - Efabrica\PHPStanLatte\Compiler\TypeToPhpDoc
    - Efabrica\PHPStanLatte\LinkProcessor\PresenterFactoryFaker(%latte.applicationMapping%)

    - Efabrica\PHPStanLatte\Type\TypeSerializer

    # Latte template resolvers
    - Efabrica\PHPStanLatte\LatteTemplateResolver\NetteApplicationUIPresenter
    - Efabrica\PHPStanLatte\LatteTemplateResolver\NetteApplicationUIPresenterStandalone
    - Efabrica\PHPStanLatte\LatteTemplateResolver\NetteApplicationUIControl

    # Type resolvers
    - Efabrica\PHPStanLatte\Resolver\TypeResolver\TemplateTypeResolver

    # Value resolvers
    - Efabrica\PHPStanLatte\Resolver\ValueResolver\ValueResolver()
    - Efabrica\PHPStanLatte\Resolver\ValueResolver\PathResolver(%latte.resolveAllPossiblePaths%)

    # Name resolvers
    - Efabrica\PHPStanLatte\Resolver\NameResolver\NameResolver

    # Method resolvers
    - Efabrica\PHPStanLatte\Resolver\CallResolver\CalledClassResolver
    - Efabrica\PHPStanLatte\Resolver\CallResolver\TerminatingCallResolver(%earlyTerminatingMethodCalls%)
    - Efabrica\PHPStanLatte\Resolver\CallResolver\OutputCallResolver()

    # Compiler post process Node visitors
    - Efabrica\PHPStanLatte\Compiler\NodeVisitor\AddVarTypesNodeVisitor(@variableCollectorStorage::collectVariables())
    - Efabrica\PHPStanLatte\Compiler\NodeVisitor\ChangeFiltersNodeVisitor
    - Efabrica\PHPStanLatte\Compiler\NodeVisitor\TransformNClassNodeVisitor
    - Efabrica\PHPStanLatte\Compiler\NodeVisitor\TransformForeachWithIteratorNodeVisitor
    - Efabrica\PHPStanLatte\Compiler\NodeVisitor\LinkNodeVisitor
    - Efabrica\PHPStanLatte\Compiler\NodeVisitor\RemoveExtractParamsNodeVisitor
    - Efabrica\PHPStanLatte\Compiler\NodeVisitor\AddExtractParamsToTopNodeVisitor
    - Efabrica\PHPStanLatte\Compiler\NodeVisitor\ChangeNotNullToEqualsNullNodeVisitor
    - Efabrica\PHPStanLatte\Compiler\NodeVisitor\CleanupNodeVisitor

    # Other Node visitors
    - Efabrica\PHPStanLatte\Compiler\NodeVisitor\LineNumberNodeVisitor

    # Link processors
    - Efabrica\PHPStanLatte\LinkProcessor\LinkProcessorFactory
    - Efabrica\PHPStanLatte\LinkProcessor\LinkParamsProcessor
    - Efabrica\PHPStanLatte\LinkProcessor\PresenterActionLinkProcessor
    - Efabrica\PHPStanLatte\LinkProcessor\SignalLinkProcessor


    # Collectors
    -
        factory: Efabrica\PHPStanLatte\Collector\ResolvedNodeCollector
        tags:
            - phpstan.collector

    -
        factory: Efabrica\PHPStanLatte\Collector\VariableCollector
        tags:
            - phpstan.collector

    -
        factory: Efabrica\PHPStanLatte\Collector\ComponentCollector
        tags:
            - phpstan.collector

    -
        factory: Efabrica\PHPStanLatte\Collector\MethodCollector
        tags:
            - phpstan.collector

    -
        factory: Efabrica\PHPStanLatte\Collector\MethodCallCollector
        tags:
            - phpstan.collector

    -
        factory: Efabrica\PHPStanLatte\Collector\MethodOutputCollector
        tags:
            - phpstan.collector

    -
        factory: Efabrica\PHPStanLatte\Collector\TemplatePathCollector
        tags:
            - phpstan.collector

    -
        factory: Efabrica\PHPStanLatte\Collector\TemplateRenderCollector
        tags:
            - phpstan.collector

    -
        factory: Efabrica\PHPStanLatte\Collector\FormCollector
        tags:
            - phpstan.collector


    # Variable collectors
    variableCollectorStorage:
        factory: Efabrica\PHPStanLatte\VariableCollector\VariableCollectorStorage
    - Efabrica\PHPStanLatte\VariableCollector\DefaultTemplateVariables
    - Efabrica\PHPStanLatte\VariableCollector\GlobalTemplateVariables(%latte.globalVariables%)
    - Efabrica\PHPStanLatte\VariableCollector\DynamicFilterVariables()

    # Error builder
    - Efabrica\PHPStanLatte\Error\ErrorBuilder(%latte.errorPatternsToIgnore%, %latte.applicationMapping%)

    # Error transformers
    - Efabrica\PHPStanLatte\Error\Transformer\UndefinedLatteFilterErrorTransformer
    - Efabrica\PHPStanLatte\Error\Transformer\UnknownTagErrorTransformer
    - Efabrica\PHPStanLatte\Error\Transformer\CallActionWithParametersMissingCorrespondingMethodErrorTransformer

    errorFormatter.table!:
        class: Efabrica\PHPStanLatte\Error\TableErrorFormatter
        arguments:
            simpleRelativePathHelper: @simpleRelativePathHelper
            showTipsOfTheDay: %tipsOfTheDay%
            editorUrl: %editorUrl%
