parameters:
    latte:
        strictMode: false
        globalVariables: []
        filters:
            translate: [Nette\Localization\Translator, translate]
        errorPatternsToIgnore: []
        applicationMapping: []

parametersSchema:
    latte: structure([
        strictMode: bool()
        globalVariables: arrayOf(string(), string())
        filters: arrayOf(anyOf(string(), arrayOf(string())), string())
        errorPatternsToIgnore: arrayOf(string())
        applicationMapping: arrayOf(string(), string())
    ])

services:
    - Latte\Parser
    - Latte\Compiler
    - Efabrica\PHPStanLatte\Analyser\FileAnalyserFactory
    - Efabrica\PHPStanLatte\Compiler\LatteToPhpCompiler(%latte.strictMode%)
    - Efabrica\PHPStanLatte\Compiler\LineMapper
    - Efabrica\PHPStanLatte\LinkProcessor\PresenterFactoryFaker(%latte.applicationMapping%)

    # Latte template resolvers
    - Efabrica\PHPStanLatte\LatteTemplateResolver\NetteApplicationUIPresenter
    - Efabrica\PHPStanLatte\LatteTemplateResolver\NetteApplicationUIControl

    # Latte template finder helpers
    - Efabrica\PHPStanLatte\LatteTemplateResolver\Finder\TemplateVariableFinder
    - Efabrica\PHPStanLatte\LatteTemplateResolver\Finder\TemplatePathFinder
    - Efabrica\PHPStanLatte\LatteTemplateResolver\Finder\ComponentsFinder

    # Type resolvers
    - Efabrica\PHPStanLatte\Resolver\TypeResolver\TemplateTypeResolver

    # Value resolvers
    - Efabrica\PHPStanLatte\Resolver\ValueResolver\ValueResolver

    # Name resolvers
    - Efabrica\PHPStanLatte\Resolver\NameResolver\NameResolver

    # Compiler post process Node visitors
    - Efabrica\PHPStanLatte\Compiler\NodeVisitor\AddVarTypesNodeVisitor(@variableCollectorStorage::collectVariables())
    - Efabrica\PHPStanLatte\Compiler\NodeVisitor\ChangeFiltersNodeVisitor(%latte.filters%)
    - Efabrica\PHPStanLatte\Compiler\NodeVisitor\TransformNClassNodeVisitor
    - Efabrica\PHPStanLatte\Compiler\NodeVisitor\LinkNodeVisitor

    # Other Node visitors
    - Efabrica\PHPStanLatte\Compiler\NodeVisitor\LineNumberNodeVisitor

    # Link processors
    - Efabrica\PHPStanLatte\LinkProcessor\LinkProcessorFactory
    - Efabrica\PHPStanLatte\LinkProcessor\PresenterActionLinkProcessor

    # Variable collectors
    variableCollectorStorage:
        factory: Efabrica\PHPStanLatte\VariableCollector\VariableCollectorStorage
    - Efabrica\PHPStanLatte\VariableCollector\DefaultTemplateVariables
    - Efabrica\PHPStanLatte\VariableCollector\GlobalTemplateVariables(%latte.globalVariables%)
    - Efabrica\PHPStanLatte\VariableCollector\DynamicFilterVariables(%latte.filters%)

    # Error builder
    - Efabrica\PHPStanLatte\Error\ErrorBuilder(%latte.errorPatternsToIgnore%)
