parameters:
    ignoreErrors:
        -
            message: '#^Calling PHPStan\\DependencyInjection\\DerivativeContainerFactory\:\:create\(\) is not covered by backward compatibility promise\. The method might change in a minor PHPStan version\.$#'
            path: src/Analyser/FileAnalyserFactory.php
        -
            messages:
                - '#^Calling PHPStan\\Analyser\\FileAnalyser\:\:analyseFile\(\) is not covered by backward compatibility promise\. The method might change in a minor PHPStan version\.$#'
                - '#^Calling PHPStan\\Analyser\\FileAnalyserResult\:\:getErrors\(\) is not covered by backward compatibility promise\. The method might change in a minor PHPStan version\.$#'
                - '#^Creating new PHPStan\\Analyser\\Error is not covered by backward compatibility promise\. The class might change in a minor PHPStan version\.$#'
                - '#^Creating new PHPStan\\Collectors\\Registry is not covered by backward compatibility promise\. The class might change in a minor PHPStan version\.$#'
                - '#^Calling PHPStan\\Analyser\\FileAnalyserResult\:\:getCollectedData\(\) is not covered by backward compatibility promise\. The method might change in a minor PHPStan version\.$#'
            path: src/Rule/LatteTemplatesRule.php
        -
            message: '#^Parameter \#1 \$value of static method PhpParser\\BuilderHelpers\:\:normalizeValue\(\) expects array\|bool\|float\|int\|PhpParser\\Node\\Expr\|string\|null, mixed given\.$#'
            path: src/LinkProcessor/LinkParamsProcessor.php

        # Latte version conditions
        -
            message: '#Comparison operation "(<|>|<=|>=)" between [0-9]{5} and [0-9]{5} is always (true|false).#'
            path: src/Compiler/LatteVersion.php

        # Errors cause by multiple latte compiler engines
        -
            messages:
                - '#^Property Efabrica\\PHPStanLatte\\Compiler\\Compiler\\CompilerFactory\:\:\$extensions has unknown class Latte\\Extension as its type\.$#'
                - '#^Parameter \$extensions of method Efabrica\\PHPStanLatte\\Compiler\\Compiler\\CompilerFactory\:\:__construct\(\) has invalid type Latte\\Extension\.$#'
            path: src/Compiler/Compiler/CompilerFactory.php
            reportUnmatched: false

        -
            messages:
                - '#^Property Efabrica\\PHPStanLatte\\Compiler\\Compiler\\Latte2Compiler\:\:\$parser has unknown class Latte\\Parser as its type\.$#'
                - '#^Property Efabrica\\PHPStanLatte\\Compiler\\Compiler\\Latte2Compiler\:\:\$compiler has unknown class Latte\\Compiler as its type\.$#'
                - '#^Parameter \$parser of method Efabrica\\PHPStanLatte\\Compiler\\Compiler\\Latte2Compiler\:\:__construct\(\) has invalid type Latte\\Parser\.$#'
                - '#^Parameter \$compiler of method Efabrica\\PHPStanLatte\\Compiler\\Compiler\\Latte2Compiler\:\:__construct\(\) has invalid type Latte\\Compiler\.$#'
                - '#^Call to method parse\(\) on an unknown class Latte\\Parser\.$#'
                - '#^Call to method compile\(\) on an unknown class Latte\\Compiler\.$#'
                - '#^Call to an undefined method Latte\\Engine::getCompiler\(\).$#'
                - '#^Call to an undefined method Latte\\Engine::getParser\(\).$#'
                - '#^Call to method parse\(\) on an unknown class Latte\\Parser\.$#'
                - '#^Instantiated class Latte\\Runtime\\Defaults not found\.$#'
                - '#^Call to method getFilters\(\) on an unknown class Latte\\Runtime\\Defaults\.$#'
                - '#^Method Efabrica\\PHPStanLatte\\Compiler\\Compiler\\Latte2Compiler::getFilters\(\) should return array<string, array\{string, string\}\|string> but returns array<callable\(\): mixed>.#'
                - '#^Parameter \$compiler of method Efabrica\\PHPStanLatte\\Compiler\\Compiler\\Latte2Compiler\:\:installMacros\(\) has invalid type Latte\\Compiler\.$#'
            path: src/Compiler/Compiler/Latte2Compiler.php
            reportUnmatched: false

        -
            messages:
                - '#^Parameter \$extensions of method Efabrica\\PHPStanLatte\\Compiler\\Compiler\\Latte3Compiler\:\:__construct\(\) has invalid type Latte\\Extension\.$#'
                - '#^Parameter \#2 \$extensions of method Efabrica\\PHPStanLatte\\Compiler\\Compiler\\Latte3Compiler\:\:installExtensions\(\) expects array\<Latte\\Extension\>, array\<Latte\\Essential\\RawPhpExtension\|Latte\\Extension\|Nette\\Bridges\\ApplicationLatte\\UIExtension\|Nette\\Bridges\\FormsLatte\\FormsExtension\> given\.$#'
                - '#^Call to an undefined method Latte\\Engine\:\:parse\(\)\.$#'
                - '#^Call to an undefined method Latte\\Engine\:\:applyPasses\(\)\.$#'
                - '#^Instantiated class Latte\\Compiler\\TemplateGenerator not found\.$#'
                - '#^Call to method generate\(\) on an unknown class Latte\\Compiler\\TemplateGenerator\.$#'
                - '#^Call to an undefined method Latte\\Engine\:\:getExtensions\(\)\.$#'
                - '#^Parameter \$extensions of method Efabrica\\PHPStanLatte\\Compiler\\Compiler\\Latte3Compiler\:\:installExtensions\(\) has invalid type Latte\\Extension\.$#'
                - '#^Call to an undefined method Latte\\Engine\:\:addExtension\(\)\.$#'
            path: src/Compiler/Compiler/Latte3Compiler.php
            reportUnmatched: false
