includes:
    - ./extension.neon

services:
    -
        factory: Efabrica\PHPStanLatte\Rule\LatteTemplatesRule()
        arguments:
            phpstanCommand: %latte.features.phpstanCommand%
        tags:
            - phpstan.rules.rule
