{$enum}
{$enum->value}
{\Efabrica\PHPStanLatte\Tests\Rule\LatteTemplatesRule\EngineBootstrap\Fixtures\EnumSomething::Bar}
{\Efabrica\PHPStanLatte\Tests\Rule\LatteTemplatesRule\EngineBootstrap\Fixtures\EnumSomething::Bar->value}
