{* ERROR: Dumped type: 9|10  *}
{* ERROR: Dumped type: 8|9|10 *}
{* ERROR: Dumped type: 7|8|9|10 *}
{* ERROR: Dumped type: 6|7|8|9|10 *}
{php \PhpStan\dumpType($counter)}
{include recursion.latte counter: $counter - 1}
