parameters:
    latte:
        tmpDir: %rootDir%/../../../tmp/phpstan-latte
        resolveAllPossiblePaths: true
    checkExplicitMixed: true
    checkImplicitMixed: true

rules:
    - Efabrica\PHPStanLatte\Tests\Rule\LatteTemplatesRule\CollectorResultRule

includes:
    - %rootDir%/../../../vendor/phpstan/phpstan-nette/extension.neon
    - %rootDir%/../../../vendor/phpstan/phpstan-nette/rules.neon
