parameters:
    latte:
        filters:
            existingFilter: strlen
            closureFilter: 'Closure(string, int): string'
            callableFilter: 'callable(string, int): string'
        applicationMapping:
            *: Efabrica\PHPStanLatte\Tests\Rule\LatteTemplatesRule\PresenterWithoutModule\Fixtures\*Presenter
        collectedPaths:
            - tests/Rule/LatteTemplatesRule/PresenterWithoutModule/Fixtures
            - tests/Rule/LatteTemplatesRule/PresenterWithoutModule/Source
