parameters:
    latte:
        filters:
            existingFilter: strlen
            closureFilter: 'Closure(string, int): string'
            closureWithSlashFilter: '\Closure(string, int): string'
            callableFilter: 'callable(string, int): string'
        collectedPaths:
            - tests/Rule/LatteTemplatesRule/PresenterWithoutModule/Fixtures
            - tests/Rule/LatteTemplatesRule/PresenterWithoutModule/Source
