{block content}

{control form}

{control parentForm}

{control onlyParentDefaultForm} {* ERROR: Component with name "onlyParentDefaultForm" probably doesn't exist. *}

{control onlyCreateForm}

{control nonExistingControl} {* ERROR: Component with name "nonExistingControl" probably doesn't exist. *}

{control someControl} {* ERROR: Component with name "someControl" probably doesn't exist. *}
{control someControl-header} {* ERROR: Component with name "someControl-header" probably doesn't exist. *}
{control someControl-body} {* ERROR: Component with name "someControl-body" probably doesn't exist. *}
{control someControl-body-table} {* ERROR: Component with name "someControl-body-table" probably doesn't exist. *}
{control someControl-footer} {* ERROR: Component with name "someControl-footer" probably doesn't exist. *}
{control someControl-nonexisting} {* ERROR: Component with name "someControl-nonexisting" probably doesn't exist. *}
