{block content}

{control form}

{control parentForm}

{control onlyParentDefaultForm} {* ERROR: Component with name "onlyParentDefaultForm" probably doesn't exist. *}

{control onlyCreateForm} {* ERROR: Component with name "onlyCreateForm" probably doesn't exist. *}

{control nonExistingControl} {* ERROR: Component with name "nonExistingControl" probably doesn't exist. *}
