{control myComponent} {* ERROR: Call to method render() on an unknown class Placeholder\ComponentMethod. ### Learn more at https://phpstan.org/user-guide/discovering-symbols *}
{control indirectComponent} {* ERROR: Call to method render() on an unknown class Placeholder\ComponentMethod. ### Learn more at https://phpstan.org/user-guide/discovering-symbols *}
{control classComponent} {* ERROR: Call to method render() on an unknown class Placeholder\ComponentClass. ### Learn more at https://phpstan.org/user-guide/discovering-symbols *}
