{block content}

<h2>Create</h2>
<a href="{link create}">Only create</a>
<a href="{link Links:create}">Create with presenter</a>

<a href="{link create, 'extra-argument'}">Only create with extra argument</a>
<a href="{link Links:create, 'extra-argument'}">Create with presenter with extra argument</a>

<a href="{link create, ['extra' => 'argument']}">Only create with extra argument as array</a>
<a href="{link Links:create, ['extra' => 'argument']}">Create with presenter with extra argument as array</a>

<a href="{link create, 'extra' => 'argument'}">Only create with extra argument as array without [ ]</a>
<a href="{link Links:create, 'extra' => 'argument'}">Create with presenter with extra argument as array without [ ]</a>

<a href="{link create, extra => argument}">Only create with extra argument as array without [ ] and '</a>
<a href="{link Links:create, extra => argument}">Create with presenter with extra argument as array without [ ] and '</a>

<h2>Edit</h2>
<a href="{link edit}">Only edit (no argument)</a>
<a href="{link Links:edit}">Only edit (no argument)</a>

<a href="{link edit, 'my-id'}">Only edit with one argument</a>
<a href="{link Links:edit, 'my-id'}">Edit with presenter with one argument</a>

<a href="{link edit, ['id' => 'my-id']}">Only edit with one argument as array</a>
<a href="{link Links:edit, ['id' => 'my-id']}">Edit with presenter with one argument as array</a>

<a href="{link edit, 'id' => 'my-id'}">Only edit with one argument as array without [ ]</a>
<a href="{link Links:edit, 'id' => 'my-id'}">Edit with presenter with one argument as array without [ ]</a>

<a href="{link edit, id => my-id}">Only edit with one argument as array without [ ] and '</a>
<a href="{link Links:edit, id => my-id}">Edit with presenter with one argument as array without [ ] and '</a>

<a href="{link edit, 'my-id', 100}">Only edit with two arguments</a>
<a href="{link Links:edit, 'my-id', 100}">Edit with presenter with two arguments</a>

<a href="{link edit, ['id' => 'my-id', 'sorting' => 100]}">Only edit with two arguments as array</a>
<a href="{link Links:edit, ['id' => 'my-id', 'sorting' => 100]}">Edit with presenter with two arguments as array</a>

<a href="{link edit, 'id' => 'my-id', 'sorting' => 100}">Only edit with two arguments as array without [ ]</a>
<a href="{link Links:edit, 'id' => 'my-id', 'sorting' => 100}">Edit with presenter with two arguments as array without [ ]</a>

<a href="{link edit, id => my-id, sorting => 100}">Only edit with two arguments as array without [ ] and '</a>
<a href="{link Links:edit, id => my-id, sorting => 100}">Edit with presenter with two arguments as array without [ ] and '</a>

<a href="{link edit, id: my-id, sorting: 100}">Only edit with named arguments</a>
<a href="{link Links:edit, id: my-id, sorting: 100}">Edit with presenter with named arguments</a>

<a href="{link edit, sorting => 100, id => my-id}">Only edit with switched two arguments as array without [ ] and '</a>
<a href="{link Links:edit, sorting => 100, id => my-id}">Edit with presenter with switched two arguments as array without [ ] and '</a>

<a href="{link edit, sorting: 100, id: my-id}">Only edit with switched named arguments</a>
<a href="{link Links:edit, sorting: 100, id: my-id}">Edit with switched named arguments</a>

<a href="{link edit, sorting => 100, extra => extraArgument, id => my-id}">Only edit with switched two arguments as array without [ ] and ' and extra argument in the middle</a>
<a href="{link Links:edit, sorting => 100, extra => extraArgument, id => my-id}">Edit with presenter with switched two arguments as array without [ ] and ' and extra argument in the middle</a>

<a href="{link edit, sorting: 100, extra: extraArgument, id: my-id}">Only edit with switched named arguments and extra argument in the middle</a>
<a href="{link Links:edit, sorting: 100, extra: extraArgument, id: my-id}">Edit with switched named arguments and extra argument in the middle</a>
