{block content}

<h2>Create</h2>
<a href="{link create}" n:attr="aa => xxx, bb => yyy">Only create</a>
<a href="{link Links:create}" n:attr="aa: 1, bb: 1">Create with presenter</a>

<a href="{link create, 'extra-argument'}" n:attr="aa => 1, bb => 1">Only create with extra argument</a>
<a href="{link Links:create, 'extra-argument'}">Create with presenter with extra argument</a>

<a href="{link create, ['extra' => 'argument']}">Only create with extra argument as array</a>
<a href="{link Links:create, ['extra' => 'argument']}">Create with presenter with extra argument as array</a>

<a href="{link create, 'extra' => 'argument'}">Only create with extra argument as array without [ ]</a>
<a href="{link Links:create, 'extra' => 'argument'}">Create with presenter with extra argument as array without [ ]</a>

<a href="{link create, extra => argument}">Only create with extra argument as array without [ ] and '</a>
<a href="{link Links:create, extra => argument}">Create with presenter with extra argument as array without [ ] and '</a>

<h2>Edit</h2>
<a href="{link edit}">Only edit (no argument)</a>
<a href="{link Links:edit}">Only edit (no argument)</a>

<a href="{link edit, 'my-id'}">Only edit with one argument</a>
<a href="{link Links:edit, 'my-id'}">Edit with presenter with one argument</a>

<a href="{link edit, ['id' => 'my-id']}">Only edit with one argument as array</a>
<a href="{link Links:edit, ['id' => 'my-id']}">Edit with presenter with one argument as array</a>

<a href="{link edit, 'id' => 'my-id'}">Only edit with one argument as array without [ ]</a>
<a href="{link Links:edit, 'id' => 'my-id'}">Edit with presenter with one argument as array without [ ]</a>

<a href="{link edit, id => my-id}">Only edit with one argument as array without [ ] and '</a>
<a href="{link Links:edit, id => my-id}">Edit with presenter with one argument as array without [ ] and '</a>

<a href="{link edit, 'my-id', 100}">Only edit with two arguments</a>
<a href="{link Links:edit, 'my-id', 100}">Edit with presenter with two arguments</a>

<a href="{link edit, ['id' => 'my-id', 'sorting' => 100]}">Only edit with two arguments as array</a>
<a href="{link Links:edit, ['id' => 'my-id', 'sorting' => 100]}">Edit with presenter with two arguments as array</a>

<a href="{link edit, 'id' => 'my-id', 'sorting' => 100}">Only edit with two arguments as array without [ ]</a>
<a href="{link Links:edit, 'id' => 'my-id', 'sorting' => 100}">Edit with presenter with two arguments as array without [ ]</a>

<a href="{link edit, id => my-id, sorting => 100}">Only edit with two arguments as array without [ ] and '</a>
<a href="{link Links:edit, id => my-id, sorting => 100}">Edit with presenter with two arguments as array without [ ] and '</a>

<a href="{link edit, id: my-id, sorting: 100}">Only edit with named arguments</a>
<a href="{link Links:edit, id: my-id, sorting: 100}">Edit with presenter with named arguments</a>

<a href="{link edit, sorting => 100, id => my-id}">Only edit with switched two arguments as array without [ ] and '</a>
<a href="{link Links:edit, sorting => 100, id => my-id}">Edit with presenter with switched two arguments as array without [ ] and '</a>

<a href="{link edit, sorting: 100, id: my-id}">Only edit with switched named arguments</a>
<a href="{link Links:edit, sorting: 100, id: my-id}">Edit with switched named arguments</a>

<a href="{link edit, sorting => 100, extra => extraArgument, id => my-id}">Only edit with switched two arguments as array without [ ] and ' and extra argument in the middle</a>
<a href="{link Links:edit, sorting => 100, extra => extraArgument, id => my-id}">Edit with presenter with switched two arguments as array without [ ] and ' and extra argument in the middle</a>

<a href="{link edit, sorting: 100, extra: extraArgument, id: my-id}">Only edit with switched named arguments and extra argument in the middle</a>
<a href="{link Links:edit, sorting: 100, extra: extraArgument, id: my-id}">Edit with switched named arguments and extra argument in the middle</a>

<a href="{link publish, isActive => false, id => my-id}">Only publish with switched two arguments as array without [ ] and ' and skipped sorting argument</a>
<a href="{link Links:publish, isActive => false, id => my-id}">Publish with presenter with switched two arguments as array without [ ] and ' and skipped sorting argument</a>

<a href="{link edit, sorting: 100}">Only edit with named arguments missing required argument</a>
<a href="{link Links:edit, ['sorting' => 100]}">Only edit with array arguments missing required argument</a>
<a href="{link Links:edit, sorting => 100}">Only edit with array arguments missing [] missing required argument</a>

<a href="{link edit, sorting: 'str'}">Only edit with named arguments missing required argument</a>
<a href="{link Links:edit, ['sorting' => 'str']}">Only edit with array arguments missing required argument</a>
<a href="{link Links:edit, sorting => 'str'}">Only edit with array arguments missing [] missing required argument</a>

<a href="{link Invalid:link}">Invalid link check</a>

<a href="{link Links:paramsMismatch param1 => test}">Invalid link check</a>

<a href="{link Links:arrayParam}">Missing array argument</a>
<a href="{link Links:arrayParam option: true}">Missing array argument</a>
<a href="{link Links:arrayParam option => true}">Missing array argument</a>
<a href="{link Links:arrayParam [1, 2, 3]}">Array argument</a>
<a href="{link Links:arrayParam option: true, ids: [1, 2, 3]}">Array argument</a>
<a href="{link Links:arrayParam option => true, ids => [1, 2, 3]}">Array argument</a>

<a href="{link this}">Link to this</a>
<a href="{link this#anchor}">Link to this with anchor</a>
<a href="{link this, foo: bar, bar: baz}">Link to this with params</a>
<a href="{link this#anchor, foo: bar, bar: baz}">Link to this with params and anchor</a>

<a href="{link create persistent1: "persistent"}">With persistent annotation</a>
<a href="{link create persistent2: "persistent"}">With persistent attribute</a>
<a href="{link create notPersistent: "not"}">With not persistent param</a>
<a href="{link create persistentConflict: "persistent"}">Method param conflicts with persistent param</a>

<a href="{link Links:nonExistingMethod param1 => test}">Call non-existing method with params</a>

<a href="{link delete!, 'my-id'}">Correct handle link</a>
<a href="{link delete!}">Missing required param in handle link</a>
<a href="{link delete!, 'my-id', 'extra param'}">Extra param in handle link</a>
<a href="{link delete!, id: 'my-id', extra: 'extra param'}">Extra named param in handle link</a>

<a n:href="Links:create" n:attr="aa: 1, bb: 1">Create with presenter via n:href</a>
{capture $linksCreate}Links:create{/capture}
<a n:href="$linksCreate" n:attr="aa: 1, bb: 1">Create with presenter via n:href</a>
