{default $someVariableWithDefault = 'default value'}
{var $headerVar = 'something'}
{$nonExistingVariable}
{$headerVar}

{$presenter->storeRequest()}

{$a}
{$b}
{$c}
{$d}
{$e}
{$f}
{php \PHPStan\dumpType($someVariableWithDefault)}

{$object}

{php \PHPStan\dumpType($boolProperty)}
