parameters:
    latte:
        filters:
            existingFilter: strlen
        engineBootstrap: %rootDir%/../../../tests/Rule/LatteTemplatesRule/EngineBootstrap/engine.bootstrap-firstClassCallableFilter.php
