{$explicitParam}
{php \PHPStan\dumpType($myVar)} {* ERROR: Dumped type: Placeholder\VarParentClass *}
{php \PHPStan\dumpType($classVar)} {* ERROR: Dumped type: Placeholder\VarParentClass *}
{php \PHPStan\dumpType($parentClassVar)} {* ERROR: Dumped type: Placeholder\VarParentClass *}
