{$explicitParam}
{php \PHPStan\dumpType($myVar)} {* ERROR: Dumped type: Placeholder\VarClass *}
{php \PHPStan\dumpType($indirectVar)} {* ERROR: Dumped type: Placeholder\VarIndirect *}
{php \PHPStan\dumpType($classVar)} {* ERROR: Dumped type: Placeholder\VarClass *}
{php \PHPStan\dumpType($parentClassVar)} {* ERROR: Dumped type: Placeholder\VarParentClass *}
