{=existingfunction()}
{=nonexistingfunction()}
{=closurefunction('foo')}
{=closurefunctionwithintparam('foo')}
{=closurefunctionwithstringparam('foo')}
{=objectfunction('foo')}
{=methodstringfunction('foo')}
