services:
    defaultAnalysisParser:
        factory: @pathRoutingParser
        arguments!: []

    cachedParser:
        class: PHPStan\Parser\CachedParser
        arguments:
            originalParser: @customParser
            cachedNodesByStringCountMax: 128
        autowired: false

    pathRoutingParser:
        class: PHPStan\Parser\PathRoutingParser
        arguments:
            currentPhpVersionRichParser: @cachedParser
            currentPhpVersionSimpleParser: @cachedParser
            php8Parser: @php8Parser
        autowired: false

    customParser:
        class: PHPStan\Parser\RichParser
        arguments:
            parser: @currentPhpVersionPhpParser
        autowired: false
