{control myComponent} {* ERROR: Call to method render() on an unknown class Placeholder\ComponentParentMethod. ### Learn more at https://phpstan.org/user-guide/discovering-symbols *}
{control methodComponent} {* ERROR: Call to method render() on an unknown class Placeholder\ComponentParentMethod. ### Learn more at https://phpstan.org/user-guide/discovering-symbols *}
{control classComponent} {* ERROR: Call to method render() on an unknown class Placeholder\ComponentParentClass. ### Learn more at https://phpstan.org/user-guide/discovering-symbols *}
{control parentClassComponent} {* ERROR: Call to method render() on an unknown class Placeholder\ComponentParentClass. ### Learn more at https://phpstan.org/user-guide/discovering-symbols *}
