{control myComponent} {* ERROR: Call to method render() on an unknown class Placeholder\ComponentClass. ### Learn more at https://phpstan.org/user-guide/discovering-symbols *}
{control indirectComponent} {* ERROR: Call to method render() on an unknown class Placeholder\ComponentIndirect. ### Learn more at https://phpstan.org/user-guide/discovering-symbols *}
{control classComponent} {* ERROR: Call to method render() on an unknown class Placeholder\ComponentClass. ### Learn more at https://phpstan.org/user-guide/discovering-symbols *}
{control parentClassComponent} {* ERROR: Call to method render() on an unknown class Placeholder\ComponentParentClass. ### Learn more at https://phpstan.org/user-guide/discovering-symbols *}
