{block content}

{control form}

{control parentForm}

{control onlyParentDefaultForm}

{control onlyCreateForm}

{control nonExistingControl}

{* https://github.com/efabrica-team/phpstan-latte/issues/24
{control someControl}
{control someControl-header}
{control someControl-table}
{control someControl-body}
{control someControl-footer}
{control someControl-nonexisting}
*}
