{block content}

{control form}

{control parentForm}

{control onlyParentDefaultForm}

{control onlyCreateForm}

{control nonExistingControl}

{control someControl}

{control someControl:otherRender}

{control someControl:nonExistingRender}

{control someControl-header}
{control someControl-body}
{control someControl-body-table}
{control someControl-footer}
{control someControl-nonexisting}

{control noType}

{control implicitType}

{var $components = ['form', 'parentForm']}
{foreach $components as $component}
    {control $component}
{/foreach}

{control $varControl}

{var $components = ['first', 'second']}
{foreach $components as $component}
    {control "multiplier-$component"}
{/foreach}

{control 'multiplier-first'}
