{$fromOtherAction}
{$renamedFromOtherAction}
{$fromRenderDefault} {* ERROR: Variable $fromRenderDefault might not be defined. *}
{$nonExistingVariable} {* ERROR: Variable $nonExistingVariable might not be defined. *}

{include @subpartial.latte, renamedRenamedFromOtherAction: $renamedFromOtherAction}
