{block content}

{$fromOtherAction}
{$fromRenderDefault} {* ERROR: Variable $fromRenderDefault might not be defined. *}
{$nonExistingVariable} {* ERROR: Variable $nonExistingVariable might not be defined. *}

{include @partial.latte, renamedFromOtherAction: $fromOtherAction}
