{block|strip}
{$title|existingFilter}
{1|existingFilter, 23, 45}
{$title|translate}
{$title|nonExistingFilter}
{$title|closureFilter, 123}
{$title|closureFilter}
{123|closureFilter, $title}
{$title|closureWithSlashFilter, 123}
{$title|closureWithSlashFilter}
{123|closureWithSlashFilter, $title}
{$title|callableFilter, 123}
{$title|callableFilter}
{123|callableFilter, $title}

{$title|startupFilter}
{$title|parentStartupFilter}
{$title|actionDefaultFilter}
{/block}
