{form firstForm}
    {input text}
    {input textarea}
    {input password}
    {input submit, ['class' => 'btn']}
{/form}

{form secondForm}
    {input select}
    {input username}
    {input password}
    {input checkbox}{label checkbox /}
    {input second_submit, ['class' => 'btn']}
{/form}

{form customForm}
{*    {$form->getRenderer()->renderControls($form->getGroup('General'), true) |noescape}*}
    {$form->getRenderer()->renderPair($form['custom_text'])}
    {$form->getRenderer()->someCustomMethod($form['custom_textarea'])}
    {$form->getRenderer()->someNonExistingCustomMethod($form['submit'])}
{/form}
