{form firstForm}
    {input text} <label n:name="text" class="label">Text</label><input n:name="text" class="input" maxlength="30">
    {input textarea id => "myId"}
    {input password}
    {input submit, 'class' => 'btn'}
{/form}

<form n:name="secondForm">
    {input select}
    {input username:}{label username: /}
    {input password:wrong}{label password:wrong /}
    {input checkbox}{label checkbox /} {label checkbox}{input checkbox}{/label} <label n:name="checkbox"><input n:name="checkbox">Checkbox</label>
    {label checkbox_list /}
    {input checkbox_list}
    {input second_submit, 'class' => 'btn'}{label second_submit_label /}
</form>

{form customForm}
{*    {$form->getRenderer()->renderControls($form->getGroup('General'), true) |noescape}*}
    {$form->getRenderer()->renderPair($form['custom_text'])}
    {$form->getRenderer()->renderPair($form['custom_default'])}
    {$form->getRenderer()->someCustomMethod($form['custom_textarea'])}
    {$form->getRenderer()->someNonExistingCustomMethod($form['submit'])}
{/form}

{form indirectForm}
    {input select}
    {input username}
    {input password}
    {input submit}
{/form}

{form indirectThroughtParentForm}
    {input select}
    {input username}
    {input password}
    {input submit}
{/form}

{form indirectFormFields}
    {input select}
    {input username}
    {input password}
    {input submit}
{/form}

{form notExisting}
    {input username}{label username /}
{/form}

{form firstForm}
    {var $name = "text"}
    {input $name}{label $name /}
    {var $textarea = $form['textarea']}
    {input $textarea, 'class' => 'textarea'}
{/form}

{form containerForm}
    {$form[part1][text1]->getHtmlId()}
    {input part1-text1}
    {input part1-submit1}

    {input part2-text2}
    {input part2-submit2}

    {input checkbox:}
{/form}

{form formWithMultiContainer}
    {formContainer 0}
        {input text}
    {/formContainer}

    {formContainer '0'}
        {input text}
    {/formContainer}

    {formContainer 1}
        {input text}
    {/formContainer}

    {formContainer '1'}
        {input text}
    {/formContainer}

    {formContainer 5}
        {input text}
    {/formContainer}

    {formContainer '5'}
        {input text}
    {/formContainer}
{/form}

{form formWithDynamicMultiContainer}
    {formContainer 0}
        {input text}
    {/formContainer}

    {formContainer '0'}
        {input text}
    {/formContainer}

    {formContainer 1}
        {input text}
    {/formContainer}

    {formContainer '1'}
        {input text}
    {/formContainer}
{/form}
