{form firstForm}
    {input text}
    {input textarea}
    {input password}
    {input submit, ['class' => 'btn']}
{/form}

{form secondForm}
    {input select}
    {input username}
    {input password}
    {input checkbox}{label checkbox /}
    {input second_submit, ['class' => 'btn']}
{/form}
