{$enum}
{$enum->value}
{\Efabrica\PHPStanLatte\Tests\Rule\LatteTemplatesRule\SimpleControl\Source\EnumSomething::Foo}
{\Efabrica\PHPStanLatte\Tests\Rule\LatteTemplatesRule\SimpleControl\Source\EnumSomething::Foo->value}
{\Efabrica\PHPStanLatte\Tests\Rule\LatteTemplatesRule\SimpleControl\Source\EnumSomething::Bar}
{\Efabrica\PHPStanLatte\Tests\Rule\LatteTemplatesRule\SimpleControl\Source\EnumSomething::Bar->value}
