name: PHP code sniffer

on:
  push:
    branches:
      - main
  pull_request: null

jobs:
  codesniffer:
    runs-on: ubuntu-latest
    name: PHP code sniffer

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Composer update
        run: composer update --no-progress --no-interaction

      - name: Allow plugin
        run: composer config --no-plugins allow-plugins.dealerdirect/phpcodesniffer-composer-installer true

      - name: Install PHP code sniffer as dev dependency
        run: composer require efabrica/coding-standard --dev

      - name: Code sniffer
        run: vendor/bin/phpcs src tests --standard=vendor/efabrica/coding-standard/eFabrica -n
