{$fromOtherAction}
{$renamedFromOtherAction}
{$fromRenderDefault}
{$nonExistingVariable}

{include @subpartial.latte, renamedRenamedFromOtherAction: $renamedFromOtherAction}
{include @subpartial.latte, renamedRenamedFromOtherAction: $renamedFromOtherAction}
