{block content}

<h1>{$title}</h1>

<div n:foreach="$items as $item">
    <a n:tag-if="$item->title">
        {$item->id} - {$item->title}
    </a>
</div>

{$variableFromOtherMethod}
{$variableFromParent}
{$variableFromParentCalledViaParent}
{$viaGetTemplate}
{$startup}
{$startupParent}
{$fromRenderDefault}
{$nonExistingVariable}
{$fromOtherAction}
{$variableFromRecursionMethod}
