{layout ../@layoutOther.latte}

{var $headerVar = "something"}

{block content}

{$fromOtherAction}
{$fromRenderDefault}
{$nonExistingVariable}
{$headerVar}

{include @partial.latte, renamedFromOtherAction: $fromOtherAction}
{include @partial.latte, renamedFromOtherAction: $fromOtherAction}

{include $unresolvedInclude}
