{block content}

{foreach $flashes as $flash}
    {switch $flash->type}
        {case 'success'}
        <i class="green">Success</i>
        {case 'warning'}
        <i class="orange">Warning</i>
        {case 'error'}
        <i class="red">Error</i>
        {default}
        <i class="gray">Unknown</i>
    {/switch}

    {switch $flash->type}
        {case 'success'}
        <i class="green">Only success</i>
    {/switch}

    {switch $flash->type}
        {default}
        <i class="gray">Only default</i>
    {/switch}
{/foreach}

<div n:snippet="mySnippet1" n:foreach="$flashes as $flash">
    <div n:class="flash, $flash->type">{$flash->message}</div>
</div>
{snippet mySnippet2}
{capture $captured}<div class="captured">Captured block</div>{/capture}
{$captured}
{$startup|striptags}
{php $thisWillBeRemoved}
{/snippet}
